body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  text-align: center;
  color: #222;
  margin-bottom: 30px;
}



.observacoes {
  text-align: center;
  color: #222;
  margin-bottom: 30px;
}

.pedido {
  background-color: #333;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.pedido h3 {
  margin: 0 0 8px;
  font-size: 18px;
  color: white;
}

.pedido p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #ddd;
}

.pedido strong {
  color: #fff;
  font-size: 16px;
}

.total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: #222;
}

.observacoes {
  margin-top: 30px;
}

.observacoes label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
  color: #333;
}

.observacoes textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  resize: vertical;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.observacoes button {
  margin-top: 10px;
  padding: 10px 22px;
  font-size: 15px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.observacoes button:hover {
  background-color: #ff7b00;
}

.finalizar {
  margin-top: 30px;
  text-align: center;
}

.finalizar button {
  padding: 14px 30px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.finalizar button:hover {
  background-color: #218838;
}
